mat-sidenav-container {
  height: auto;
}



.container {
  height: 100%;
  width: 500px;

}

.sidenav {
  width: 100%;
  padding: 16px;
  border: 10px solid green;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
div.logo h4
{

  margin: 0;
}
div.logo button {
   margin: 0;
}
.content {
  padding: 24px;
}


.burguer {
  height: 100%;
}

a.link-nav {
  display: flex;
  border: 3px solid red;

}
