<p>menu-bk works!</p>
<div class="burguer">

  <mat-sidenav-container class="container">
    <mat-sidenav mode='over' #sidenav opened class="sidenav">
      <div  class="logo">
        <h4>
          Dashbord
        </h4>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon click>close</mat-icon>
        </button>
      </div>

      <a mat-button class="link-nav">Home</a>
      <a mat-button class="link-nav">App</a>
      <a mat-button class="link-nav">Add</a>

    </mat-sidenav>


    <!-- Body -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="title">Meu Sistema</span>
      </mat-toolbar>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
