<header>
  <h2>Calendário - Wendell</h2>
</header>

<div class="container">
  <nav class="lista">
    <h3>Navegação</h3>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4
        <app-modal (envio)="recebedofilho($event)"></app-modal>
        {{nomeRecebido}}
      </li>
      <li *ngFor="let event of eventsList">
        <p>{{event.title}}</p>
        <p>{{event.start}}</p>
      </li>
    </ul>
  </nav>

  <section class="calendar">
    <full-calendar [options]="calendarOptions()">
    </full-calendar>
  </section>

  
</div>

<app-modal [eventData] = "handleDateSelect"></app-modal>