<header>
  <h2>Calendário</h2>
</header>

<div class="container">
  <nav class="lista">
    <h3>Lista de Eventos:</h3>
    <ul>
      <li *ngFor="let event of eventsList">
        <p>{{event.title}}</p>
        <p>{{event.start}}</p>
      </li>
    </ul>

    <hr>
    
    <ul>
      <li *ngFor="let itens of TEST_EVT" style="font-weight: 900;">
        <p>{{itens.title}}</p>
        <p>{{itens.start}}</p>
      </li>
    </ul>
  </nav>

  <section class="calendar">
    <full-calendar [options]="calendarOptions()" >
    </full-calendar>
  </section>

  
</div>

<app-modal [eventData] = "handleDateSelect"></app-modal>
