<div class="modal" *ngIf="isVisible">
    <h2>Modal Aberto</h2>
    <p><strong>Id:</strong> {{ eventData?.id }}</p>
    <p><strong>Titulo: </strong> 
        <input type="text" placeholder="Titulo da Tarefa: " [(ngModel)]="title2">
    </p>
    <p><strong>Início:</strong> {{ dataInicial }}</p>
    <p><strong>Fim:</strong> {{ dataFinal }}</p>
    <p><strong>All Day:</strong> {{ eventData?.allDay }}</p>

    <p>Evento o dia inteiro? 
        <label>
            <input type="checkbox" [(ngModel)]="allDay" title="Evento o dia inteiro?">
            
        </label>
    </p>
   
    <button (click)="save()">Salvar</button>
    <button (click)="cancel()">Cancelar</button>
    <button (click)="closeModal()">Fechar</button>
</div>