<p>modal-add-task works!</p>
<div>
  <mat-toolbar>

    <div class="menu-retra">
      <button [matMenuTriggerFor]="opcoes" mat-icon-button class="example-icon">
        <mat-icon>menu
        </mat-icon>
        <span class="menu-text">
          MINHAS OPÇÕES
        </span>
      </button>

    </div>
    <mat-menu #opcoes="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="primeira">1° opção</button>
      <button mat-menu-item [matMenuTriggerFor]="segunda">2° opção</button>
      <button mat-menu-item [matMenuTriggerFor]="terceira">3° opção</button>
    </mat-menu>

    <mat-menu #primeira>
      <button mat-menu-item>1° opção</button>

    </mat-menu>
    <mat-menu #segunda>
      <button mat-menu-item>2° opção</button>
      <button mat-menu-item>2° opção</button>
    </mat-menu>
    <mat-menu #terceira>
      <button mat-menu-item>3° opção</button>
      <button mat-menu-item>3° opção</button>
      <button mat-menu-item>3° opção</button>
    </mat-menu>
  </mat-toolbar>
</div>


<div>
  <form [formGroup]="adicioandoTask" (ngSubmit)="submitForm()">
    <input type="text" formControlName="id" placeholder="Digite id ...">
    <input type="text" formControlName="titulo" placeholder="Digite titulo ...">
    <input type="text" formControlName="descricao" placeholder="Digite descrição  ...">
    <!-- <input type="text" formControlName="terceiraEntrada" placeholder="Digite estado ...">
      -->

    <button type="submit">Adicionar</button>
  </form>

  <div *ngFor="let dsc of addObjeto">
    {{dsc.id}} / {{dsc.titulo}} / {{dsc.estado}} / {{dsc.descricao}}
  </div>


  <div class="kanban-container">
    <mat-card class="kanban-column">
      <mat-card-title>A fazer</mat-card-title>
      <mat-divider></mat-divider>
      <div cdkDropList id="todoList" [cdkDropListData]="addObjeto" [cdkDropListConnectedTo]="['doingList', 'doneList']"
        class="list" (cdkDropListDropped)="drop($event)">
        <mat-card class="task-card" *ngFor="let task of addObjeto" cdkDrag>
          <Span class="tituloSpan">
            {{ task.titulo }}
          </Span>
          <Span class="descricaoSpan">
            {{ task.descricao }}
          </Span>
        </mat-card>
      </div>
    </mat-card>

    <mat-card class="kanban-column">
      <mat-card-title>Em Progresso</mat-card-title>
      <mat-divider></mat-divider>
      <div cdkDropList id="doingList" [cdkDropListData]="fazendo" [cdkDropListConnectedTo]="['todoList', 'doneList']"
        class="list" (cdkDropListDropped)="drop($event)">
        <mat-card class="task-card" *ngFor="let task of fazendo" cdkDrag>
          <Span class="tituloSpan">
            {{ task.titulo }}
          </Span>
          <Span class="descricaoSpan">
            {{ task.descricao }}
          </Span>
        </mat-card>
      </div>
    </mat-card>
  </div>
</div>



<div class="burguer">
  <mat-sidenav-container class="container">
    <mat-sidenav mode='over' #sidenav closed class="sidenav">
      <h3 class="logo">
        Dashbord
      </h3>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon click>close</mat-icon>
      </button>
      <a mat-button>home</a>
      <a mat-button>app</a>
      <a mat-button>add</a>

    </mat-sidenav>


    <!-- Body -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="title">Meu Sistema</span>
      </mat-toolbar>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
